co2.json
[{"id":"2c1f6c62ff8f54799","type":"tab","label":"mohsen-motor-last","disabled":false,"info":""},{"id":"1d60c4c3c12b71d5","type":"group","z":"2c1f6c62ff8f547c","name":"Sonoff 4CHPRO R3","style":{"stroke":"#ffC000","fill":"#addb7b","label":false},"nodes":["710860bb76917a20","475c1649dad58148","02e1874144f5dfb5","9dae359757571e0f","c61dd155aed2380e","8728372daa3400fd","6604c92681c969c2","e9ac2466b604d39f","21a43d2f2dd3ef09","b401a04286f04e34"],"x":1104,"y":1019,"w":262,"h":542},{"id":"f55322585025d1de","type":"comment","z":"2c1f6c62ff8f547c","name":"Query power","info":"","x":90,"y":160,"wires":[]},{"id":"88282eb62e06b320","type":"debug","z":"2c1f6c62ff8f547c","name":"Get mem1 Value from Tasmota ","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":510,"y":100,"wires":[]},{"id":"7d1f58fb1a96b9e8","type":"function","z":"2c1f6c62ff8f547c","name":"","func":"var msg1 = {};\nvar msg2 = {};\nvar msg3 = {};\nvar msg4 = {};\nvar msg5 = {};\nvar msg6 = {};\nvar msg7 = {};\nvar msg8 = {};\nvar msg9 = {};\nvar msg10 = {};\nvar msg11 = {};\nvar msg12 = {};\nvar msg13 = {};\nvar msg13_1 = {};\n\nvar GlobalTemp = {};\nvar Temp = {};\n\nmsg1.payload = msg.payload.compact.outdoor.temperature;\nmsg2.payload = msg.payload.compact.outdoor.humidity;\nmsg3.payload = msg.payload.compact.pressure;\nmsg4.payload = msg.payload.compact.noise;\n\nmsg5.payload = msg.payload.compact.temperature;\nmsg6.payload = msg.payload.compact.co2;\nmsg7.payload = msg.payload.compact.humidity;\nmsg8.payload = msg.payload.compact.noise;\nmsg9.payload = msg.payload.compact.pressure;\n\nmsg10.payload = msg.payload.compact.modules[0].CO2;\nmsg11.payload = msg.payload.compact.modules[0].temperature;\nmsg12.payload = msg.payload.compact.modules[0].pressure;\nmsg13.payload = msg.payload.compact.modules[0].humidity;\nmsg13_1.payload = msg.payload.detailed[0].dashboard_data.AbsolutePressure;\n\nGlobalTemp.a1 = msg.payload.compact.outdoor.temperature;\nGlobalTemp.a2 = msg.payload.compact.outdoor.humidity;\nGlobalTemp.a3 = msg.payload.compact.outdoor.pressure;\nGlobalTemp.a4 = msg.payload.compact.outdoor.noise;\n\nGlobalTemp.b1 = msg.payload.compact.co2;\nGlobalTemp.b2 = msg.payload.compact.temperature;\nGlobalTemp.b3 = msg.payload.compact.humidity;\nGlobalTemp.b4 = msg.payload.compact.noise;\nGlobalTemp.b5 = msg.payload.compact.pressure;\n\nGlobalTemp.z1 = msg.payload.compact.modules[0].CO2;\nGlobalTemp.z2 = msg.payload.compact.modules[0].temperature;\nGlobalTemp.z3 = msg.payload.compact.modules[0].Pressue;\nGlobalTemp.z4 = msg.payload.compact.modules[0].Humidity;\nGlobalTemp.z5 = msg.payload.detailed[0].dashboard_data.AbsolutePressure;\n\n\nglobal.set(\"Temp\", GlobalTemp);\nreturn [msg1, msg2, msg3, msg4, msg5, msg6, msg7, msg8, msg9, msg10, msg11, msg12, msg13, msg13_1, Temp];\n","outputs":14,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":340,"wires":[["fbceb81f1dd42b7c","d3b09e0b6994fbe1","b217319e3a72039c"],["6012db7e22e7f65b"],["d6f7efdeeefb2b84"],["4a814e10e3572511"],["83adf08c9cb1f2b5"],["fa400247ce563b44","b217319e3a72039c","d4c45f4281d5cbbf"],["7be7a38e1c996d52"],["766dff63943b0a1b"],["7da8226320617be9"],["21e860c5e654a52f"],["17967bbaab032729"],["e638f7d96c6d1e56"],["bc831ac3c11a596b"],[]]},{"id":"93843be06f1ce25b","type":"mqtt in","z":"2c1f6c62ff8f547c","name":"","topic":"mohsen-motor/cmnd/mem1","qos":"0","datatype":"utf8","broker":"6e117ba5.8026e4","nl":false,"rap":false,"inputs":0,"x":160,"y":80,"wires":[["88282eb62e06b320","174a95699fb56f48"]]},{"id":"46f550d8e80ccfa3","type":"comment","z":"2c1f6c62ff8f547c","name":"Min = 300, Max = 300","info":"# ","x":160,"y":640,"wires":[]},{"id":"a3cc5bf7fbc6612d","type":"comment","z":"2c1f6c62ff8f547c","name":"If Open-win=0 then open the win ","info":"check the value of Open-win\n\nIf Open-win = 0 then open the win\nIF Open-win = 1 then do nothing ","x":430,"y":640,"wires":[]},{"id":"97b78159425a40d5","type":"debug","z":"2c1f6c62ff8f547c","name":"begger true-------------","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1220,"y":660,"wires":[]},{"id":"bac8887959b544e3","type":"debug","z":"2c1f6c62ff8f547c","name":"begger false-------------","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1220,"y":700,"wires":[]},{"id":"7b6f631d580488aa","type":"inject","z":"2c1f6c62ff8f547c","name":"Open Window","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":110,"y":1080,"wires":[["bf10ccb81bb2c4ef"]]},{"id":"d3b87cab87369875","type":"inject","z":"2c1f6c62ff8f547c","name":"All Fans Off","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"false","payloadType":"bool","x":150,"y":1400,"wires":[["475c1649dad58148","02e1874144f5dfb5"]]},{"id":"6c79bea4a9cab104","type":"inject","z":"2c1f6c62ff8f547c","name":"All Fans On","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":150,"y":1440,"wires":[["475c1649dad58148","02e1874144f5dfb5"]]},{"id":"e3500b415b9d91f3","type":"change","z":"2c1f6c62ff8f547c","name":"Close, memory = false","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":1180,"wires":[["c61dd155aed2380e","73053e7553e62e61"]]},{"id":"5a7dd77184d7744e","type":"change","z":"2c1f6c62ff8f547c","name":"Open, memory = true","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":240,"y":1340,"wires":[["e9ac2466b604d39f","c05edad4f7aab0ea"]]},{"id":"2df1674a818f0bdd","type":"debug","z":"2c1f6c62ff8f547c","name":"nstatmo dashboarddddddddddddddddddd","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":660,"y":540,"wires":[]},{"id":"fa400247ce563b44","type":"switch","z":"2c1f6c62ff8f547c","name":"CO2","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"900","vt":"str"},{"t":"lte","v":"700","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":210,"y":720,"wires":[["b0ac2f7926939d07","efa416734a58a13b"],["ba69ba0d2674ed47","efa416734a58a13b"]]},{"id":"a4230de177ecc61d","type":"debug","z":"2c1f6c62ff8f547c","name":"mem111111111","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":680,"y":180,"wires":[]},{"id":"b0ac2f7926939d07","type":"switch","z":"2c1f6c62ff8f547c","name":"bigger true/false","property":"memory","propertyType":"global","rules":[{"t":"eq","v":"true","vt":"str"},{"t":"eq","v":"false","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":400,"y":700,"wires":[["97b78159425a40d5"],["6947d7868c47fe1e"]]},{"id":"174a95699fb56f48","type":"function","z":"2c1f6c62ff8f547c","name":"","func":"global.set(\"memory\",msg.payload);\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":140,"wires":[["a4230de177ecc61d"]]},{"id":"ba69ba0d2674ed47","type":"switch","z":"2c1f6c62ff8f547c","name":"smaller true/false","property":"memory","propertyType":"global","rules":[{"t":"eq","v":"true","vt":"str"},{"t":"eq","v":"false","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":410,"y":740,"wires":[["a45bf8d05c766762"],["5652fb8a7bd5cd6e"]]},{"id":"710860bb76917a20","type":"mqtt out","z":"2c1f6c62ff8f547c","g":"1d60c4c3c12b71d5","name":"Relay2","topic":"mohsen-motor/cmnd/POWER2","qos":"","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"e3a4058c.3ac098","x":1190,"y":1180,"wires":[]},{"id":"475c1649dad58148","type":"mqtt out","z":"2c1f6c62ff8f547c","d":true,"g":"1d60c4c3c12b71d5","name":"Relay3","topic":"mohsen-motor/cmnd/POWER3","qos":"","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"e3a4058c.3ac098","x":1190,"y":1300,"wires":[]},{"id":"02e1874144f5dfb5","type":"mqtt out","z":"2c1f6c62ff8f547c","d":true,"g":"1d60c4c3c12b71d5","name":"Relay4","topic":"mohsen-motor/cmnd/POWER4","qos":"","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"e3a4058c.3ac098","x":1190,"y":1440,"wires":[]},{"id":"9dae359757571e0f","type":"mqtt out","z":"2c1f6c62ff8f547c","g":"1d60c4c3c12b71d5","name":"Relay1","topic":"mohsen-motor/cmnd/POWER1","qos":"","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"e3a4058c.3ac098","x":1190,"y":1060,"wires":[]},{"id":"5652fb8a7bd5cd6e","type":"debug","z":"2c1f6c62ff8f547c","name":"smaller false-------------","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1220,"y":780,"wires":[]},{"id":"0a88efbbde0345ea","type":"debug","z":"2c1f6c62ff8f547c","name":"smaller true-------------","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1220,"y":740,"wires":[]},{"id":"c61dd155aed2380e","type":"mqtt out","z":"2c1f6c62ff8f547c","g":"1d60c4c3c12b71d5","name":"Send false to mem1","topic":"mohsen-motor/cmnd/mem1","qos":"","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"e3a4058c.3ac098","x":1240,"y":1120,"wires":[]},{"id":"8728372daa3400fd","type":"mqtt out","z":"2c1f6c62ff8f547c","g":"1d60c4c3c12b71d5","name":"Send true to mem1","topic":"mohsen-motor/cmnd/mem1","qos":"","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"e3a4058c.3ac098","x":1230,"y":1520,"wires":[]},{"id":"6604c92681c969c2","type":"mqtt out","z":"2c1f6c62ff8f547c","g":"1d60c4c3c12b71d5","name":"Send false to mem1","topic":"mohsen-motor/cmnd/mem1","qos":"","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"e3a4058c.3ac098","x":1240,"y":1360,"wires":[]},{"id":"e9ac2466b604d39f","type":"mqtt out","z":"2c1f6c62ff8f547c","g":"1d60c4c3c12b71d5","name":"Send true to mem1","topic":"mohsen-motor/cmnd/mem1","qos":"","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"e3a4058c.3ac098","x":1230,"y":1240,"wires":[]},{"id":"6947d7868c47fe1e","type":"switch","z":"2c1f6c62ff8f547c","name":"open-win = 0","property":"open-win","propertyType":"flow","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":670,"y":720,"wires":[[],["bac8887959b544e3","5a7dd77184d7744e"]]},{"id":"c05edad4f7aab0ea","type":"change","z":"2c1f6c62ff8f547c","name":"open-win=1, close.win=0","rules":[{"t":"set","p":"open-win","pt":"flow","to":"1","tot":"num"},{"t":"set","p":"close-win","pt":"msg","to":"0","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":1300,"wires":[["475c1649dad58148","6604c92681c969c2","02e1874144f5dfb5","8728372daa3400fd","9e71f5bffaa7b87b"]]},{"id":"73053e7553e62e61","type":"change","z":"2c1f6c62ff8f547c","name":"open-win=0, close-win=1","rules":[{"t":"set","p":"open-win","pt":"flow","to":"0","tot":"num"},{"t":"set","p":"close-win","pt":"flow","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":1160,"wires":[["475c1649dad58148","6604c92681c969c2","02e1874144f5dfb5","8728372daa3400fd","8fd7efd784dd0ea7"]]},{"id":"fbceb81f1dd42b7c","type":"ui_gauge","z":"2c1f6c62ff8f547c","name":"Outdoor Temperature","group":"a31e2b8b.720da8","order":2,"width":"3","height":"3","gtype":"gage","title":"Outdoor Temperature","label":"°C","format":"{{value}}","min":"10","max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"25","seg2":"30","className":"","x":980,"y":20,"wires":[]},{"id":"6012db7e22e7f65b","type":"ui_gauge","z":"2c1f6c62ff8f547c","name":"Outdoor Humidity","group":"a31e2b8b.720da8","order":1,"width":"3","height":"3","gtype":"gage","title":"Outdoor Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"65","seg2":"70","className":"","x":1070,"y":80,"wires":[]},{"id":"83adf08c9cb1f2b5","type":"ui_gauge","z":"2c1f6c62ff8f547c","name":"Indoor Temperature","group":"a31e2b8b.720da8","order":1,"width":"3","height":"3","gtype":"gage","title":"Indoor Temperatur","label":"°C","format":"{{value}}","min":"10","max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"25","seg2":"30","className":"","x":1010,"y":200,"wires":[]},{"id":"d4c45f4281d5cbbf","type":"ui_gauge","z":"2c1f6c62ff8f547c","name":"Indoor CO2","group":"a31e2b8b.720da8","order":3,"width":"3","height":"3","gtype":"gage","title":"Indoor CO2","label":"ppm","format":"{{value}}","min":0,"max":"5000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"1000","seg2":"2000","className":"","x":970,"y":240,"wires":[]},{"id":"7be7a38e1c996d52","type":"ui_gauge","z":"2c1f6c62ff8f547c","name":"Indoor Humidity","group":"a31e2b8b.720da8","order":4,"width":"3","height":"3","gtype":"gage","title":"Indoor Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"65","seg2":"70","className":"","x":980,"y":280,"wires":[]},{"id":"89629a91a0eca6a3","type":"debug","z":"2c1f6c62ff8f547c","name":"veraaaaaaaaaaaaaaa","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":300,"y":1480,"wires":[]},{"id":"27afab31a458f2c4","type":"inject","z":"2c1f6c62ff8f547c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":false,"onceDelay":"","topic":"1 Minutes Timer","payload":"true","payloadType":"bool","x":160,"y":1560,"wires":[["8673c6ff0e106b3b"]]},{"id":"a45bf8d05c766762","type":"switch","z":"2c1f6c62ff8f547c","name":"Compare1","property":"close-win","propertyType":"flow","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":910,"y":760,"wires":[["0a88efbbde0345ea","e3500b415b9d91f3"],[]]},{"id":"bf10ccb81bb2c4ef","type":"trigger","z":"2c1f6c62ff8f547c","name":"","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"1","extend":false,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":300,"y":1080,"wires":[["710860bb76917a20"]]},{"id":"60c602b6f31c5cba","type":"inject","z":"2c1f6c62ff8f547c","name":"Close Window","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"false","payloadType":"bool","x":110,"y":1020,"wires":[["68cf00d43a7d7367"]]},{"id":"2ae4da3da7bd2a85","type":"comment","z":"2c1f6c62ff8f547c","name":"https://www.domoticz.com/wiki/Xiaomi_Gateway_(Aqara)#Adding_the_Xiaomi_Gateway_to_Domoticz","info":"https://www.home-assistant.io/integrations/xiaomi_aqara/","x":1490,"y":20,"wires":[]},{"id":"efa416734a58a13b","type":"debug","z":"2c1f6c62ff8f547c","name":"CO2","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":250,"y":780,"wires":[]},{"id":"21a43d2f2dd3ef09","type":"comment","z":"2c1f6c62ff8f547c","g":"1d60c4c3c12b71d5","name":"Close","info":"","x":1290,"y":1060,"wires":[]},{"id":"b401a04286f04e34","type":"comment","z":"2c1f6c62ff8f547c","g":"1d60c4c3c12b71d5","name":"Open","info":"","x":1290,"y":1180,"wires":[]},{"id":"b042d855c3ce1c00","type":"trigger","z":"2c1f6c62ff8f547c","name":"","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"0.1","extend":false,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":990,"y":1200,"wires":[["710860bb76917a20"]]},{"id":"6db03ee8371ed011","type":"trigger","z":"2c1f6c62ff8f547c","name":"","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"0.1","extend":false,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":890,"y":1060,"wires":[["9dae359757571e0f"]]},{"id":"8fd7efd784dd0ea7","type":"function","z":"2c1f6c62ff8f547c","name":"","func":"var msg1 = {};\nvar msg2 = {};\nvar work_GlobalTemp = global.get(\"Temp\");\n\nmsg1.payload = work_GlobalTemp.a;\nmsg2.payload = work_GlobalTemp.b;\nvar current = msg.payload; //get current value\nvar output_temp = msg1.payload\n\n\nif (output_temp < 2) \n    {\n        return [null];\n    } \n \nelse {\n        return [msg];\n     }\n   \n   \n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":1060,"wires":[["6db03ee8371ed011"]]},{"id":"9e71f5bffaa7b87b","type":"function","z":"2c1f6c62ff8f547c","name":"","func":"var msg1 = {};\nvar msg2 = {};\nvar work_GlobalTemp = global.get(\"Temp\");\n\nmsg1.payload = work_GlobalTemp.a;\nmsg2.payload = work_GlobalTemp.b;\nvar current = msg.payload; //get current value\nvar output_temp = msg1.payload\n\n\nif (output_temp < 2) \n    {\n        return [null];\n    } \n \nelse {\n        return [msg];\n     }\n   \n   \n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":800,"y":1200,"wires":[["b042d855c3ce1c00"]]},{"id":"68cf00d43a7d7367","type":"trigger","z":"2c1f6c62ff8f547c","name":"","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"1","extend":false,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":300,"y":1020,"wires":[["9dae359757571e0f"]]},{"id":"255c558846df58c2","type":"inject","z":"2c1f6c62ff8f547c","name":"Close Window","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"false","payloadType":"bool","x":150,"y":900,"wires":[["e3500b415b9d91f3"]]},{"id":"f279d5a3c41d13e3","type":"comment","z":"2c1f6c62ff8f547c","name":"Start the programm by seting mem1 = False","info":"","x":230,"y":860,"wires":[]},{"id":"b217319e3a72039c","type":"ui_chart","z":"2c1f6c62ff8f547c","d":true,"name":"","group":"a31e2b8b.720da8","order":21,"width":0,"height":0,"label":"chart","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1220,"y":280,"wires":[[]]},{"id":"d3b09e0b6994fbe1","type":"ui_chart","z":"2c1f6c62ff8f547c","d":true,"name":"","group":"a31e2b8b.720da8","order":21,"width":0,"height":0,"label":"chart","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1230,"y":180,"wires":[[]]},{"id":"d40c4f78aef55e21","type":"inject","z":"2c1f6c62ff8f547c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"30","crontab":"","once":false,"onceDelay":"1","topic":"5 Minutes Timer","payload":"true","payloadType":"bool","x":160,"y":1640,"wires":[["8f9eb7dada093922","e789fd3e2304488e","ec183050359c2825","f6a282c17cd49ab0","80b4f5482d5944bc"]]},{"id":"256abb2a5b89c129","type":"ui_chart","z":"2c1f6c62ff8f547c","name":"24 hours data","group":"4552fe72.fdfa5","order":2,"width":"27","height":"12","label":"Chart","chartType":"line","legend":"true","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#00e68c","#2d2da8","#ff7f0e","#a0962c","#e08fd5","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":1260,"y":1980,"wires":[[]]},{"id":"28263e5dd085ef92","type":"debug","z":"2c1f6c62ff8f547c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload[0]","targetType":"msg","statusVal":"","statusType":"auto","x":1050,"y":1760,"wires":[]},{"id":"eab820228a9cb853","type":"change","z":"2c1f6c62ff8f547c","name":"Format data","rules":[{"t":"set","p":"payload","pt":"msg","to":"(\t  $series := [\t    { \"field\": \"NO_T\", \"label\": \"NO_T\" },\t    { \"field\": \"NID_CO2\", \"label\": \"NID_CO2/100\" },\t    { \"field\": \"NIU_CO2\", \"label\": \"NIU_CO2/100\" },\t    { \"field\": \"NIU_T\", \"label\": \"NIU_T\" },\t    { \"field\": \"NID_T\", \"label\": \"NID_T\" },\t    { \"field\": \"ATV_T\", \"label\": \"ATV_T\" },\t    { \"field\": \"AKA_T\", \"label\": \"AKA_T\" },\t    { \"field\": \"AZ_T\", \"label\": \"AZ_T\" },\t    { \"field\": \"AKI_T\", \"label\": \"AKI_T\" },\t    { \"field\": \"AM_T\", \"label\": \"AM_T\" },\t    { \"field\": \"NO_P\", \"label\": \"NO_P\" },\t    { \"field\": \"NID_P\", \"label\": \"NID_P\" },\t    { \"field\": \"NIU_P\", \"label\": \"NIU_P\" },\t    { \"field\": \"mill3_T\", \"label\": \"mill3_T\" },\t    { \"field\": \"mill3_P\", \"label\": \"mill3_P\" }\t    { \"field\": \"mill2_T\", \"label\": \"mill2_T\" },\t    { \"field\": \"mill2_P\", \"label\": \"mill2_P\" },\t    { \"field\": \"mill1_T\", \"label\": \"mill1_T\" },\t    { \"field\": \"mill1_P\", \"label\": \"mill1_P\" },\t    { \"field\": \"Vec\", \"label\": \"Vec\" },\t    { \"field\": \"Vac\", \"label\": \"Vac\" },\t    { \"field\": \"Vach\", \"label\": \"Vach\" },\t    { \"field\": \"Vav\", \"label\": \"Vav/1000\" },\t    { \"field\": \"Vmax\", \"label\": \"Vmax/1000\" },\t    { \"field\": \"Vmin\", \"label\": \"Vmin/1000\" },\t    { \"field\": \"Vp\", \"label\": \"Vp/1000\" },\t    { \"field\": \"VL1\", \"label\": \"VL1\" }\t\t  ];\t   $xaxis := \"date\";\t  [\t    {\t      \"series\": $series.label,\t      \"data\": $series.[\t        (\t          $yaxis := $.field;\t          $$.payload.{\t            \"x\": $lookup($, $xaxis),\t            \"y\": $lookup($, $yaxis)\t          }\t        )\t      ]\t    }\t  ]\t)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1050,"y":1980,"wires":[["256abb2a5b89c129"]]},{"id":"e8ab1aaad43b62bb","type":"debug","z":"2c1f6c62ff8f547c","name":","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":730,"y":1700,"wires":[]},{"id":"c259eb6420c41717","type":"inject","z":"2c1f6c62ff8f547c","name":"Site1","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"300","crontab":"","once":true,"onceDelay":"","topic":"","payload":"","payloadType":"str","x":90,"y":1720,"wires":[["e789fd3e2304488e","ec183050359c2825","80b4f5482d5944bc"]]},{"id":"de4599668ccfcea3","type":"change","z":"2c1f6c62ff8f547c","name":"Reset","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":2040,"wires":[["e789fd3e2304488e","80b4f5482d5944bc"]]},{"id":"b28689e151114679","type":"ui_button","z":"2c1f6c62ff8f547c","name":"","group":"4552fe72.fdfa5","order":5,"width":"2","height":"1","passthru":false,"label":"-1W","tooltip":"","color":"","bgcolor":"","className":"","icon":"chevron_left","payload":"","payloadType":"str","topic":"minus1w","topicType":"str","x":90,"y":2000,"wires":[["de4599668ccfcea3","ec183050359c2825"]]},{"id":"2dd7e019dbfff95d","type":"ui_button","z":"2c1f6c62ff8f547c","name":"","group":"4552fe72.fdfa5","order":6,"width":"2","height":"1","passthru":false,"label":"-1D","tooltip":"","color":"","bgcolor":"","className":"","icon":"chevron_left","payload":"","payloadType":"str","topic":"minus1d","topicType":"str","x":90,"y":2040,"wires":[["de4599668ccfcea3","ec183050359c2825"]]},{"id":"e366a83895518625","type":"ui_button","z":"2c1f6c62ff8f547c","name":"","group":"4552fe72.fdfa5","order":8,"width":"2","height":"1","passthru":false,"label":"+1W","tooltip":"","color":"","bgcolor":"","icon":"chevron_right","payload":"","payloadType":"str","topic":"plus1w","topicType":"str","x":90,"y":2080,"wires":[["de4599668ccfcea3","ec183050359c2825"]]},{"id":"20f08cd3a1674899","type":"ui_button","z":"2c1f6c62ff8f547c","name":"","group":"4552fe72.fdfa5","order":7,"width":"2","height":"1","passthru":false,"label":"+1D","tooltip":"","color":"","bgcolor":"","icon":"chevron_right","payload":"","payloadType":"str","topic":"plus1d","topicType":"str","x":90,"y":2120,"wires":[["de4599668ccfcea3","ec183050359c2825"]]},{"id":"520586fa33ce8fc3","type":"debug","z":"2c1f6c62ff8f547c","name":"zzzzzzzzzzzzzzzzzzzzzzz","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":790,"y":2080,"wires":[]},{"id":"e789fd3e2304488e","type":"ui_dropdown","z":"2c1f6c62ff8f547c","name":"Period","label":"","tooltip":"","place":"","group":"4552fe72.fdfa5","order":4,"width":"4","height":"1","passthru":false,"multiple":false,"options":[{"label":"Today","value":"today","type":"str"},{"label":"Yesterday","value":"yesterday","type":"str"},{"label":"This week","value":"thisweek","type":"str"},{"label":"Last week","value":"lastweek","type":"str"},{"label":"Last 24 hours","value":"last24h","type":"str"},{"label":"Last 7 days","value":"last7d","type":"str"},{"label":"Last 30 days","value":"last30d","type":"str"}],"payload":"","topic":"period","topicType":"str","className":"","x":110,"y":1940,"wires":[["ec183050359c2825"]]},{"id":"ec183050359c2825","type":"function","z":"2c1f6c62ff8f547c","name":"SQL","func":"// This will handle any device and any attribute as long as it is in the DB\n// epoch = new Date().getTime();\n\n// javascript convert from epoch string to Date object\n// date = Math.round(epoch /1000);\nvar p_30d  = 1000*60*60*24*30 ; //30 Days\nvar p_7d  = 1000*60*60*24*7 ; //7 Days\nvar p_1d   =  1000*60*60*24 ; // 1 Day\nvar d = new Date();\nvar current = d.getTime();\n\nvar today0h = d.setHours(0,0,0,0);\nvar day = d.getDay();\nvar monday0h = today0h - (day + (day === 0 ? -6:1)) * p_1d;\nvar fromdate = 0;\nvar enddate = 0;\nvar sql = [];\nvar sourcelist = [];\nvar aggrlist = [];\nvar title = \"\";\n\n\n// Get the period and the list of data sources \n// also set some default values if one or the other does not exist yet\n\nfromdate = context.get(\"fromdate\");\nif (fromdate===undefined) {\n    // set the period to a default if it is not selected yet\n    fromdate = (current-p_1d);\n}\nenddate = context.get(\"enddate\");\nif (enddate===undefined) {\n    // set the period to a default if it is not selected yet\n    enddate = current;\n}\n\nswitch(msg.topic) {\n    case \"period\":\n        switch(msg.payload) {\n            case \"today\":\n                fromdate = today0h;\n                enddate = today0h+p_1d;\n                break;\n            case \"yesterday\":\n                fromdate = today0h-p_1d;\n                enddate = today0h;\n                break;\n            case \"thisweek\":\n                fromdate = monday0h;\n                enddate = monday0h+p_7d;\n                break;\n            case \"lastweek\":\n                fromdate = monday0h-p_7d;\n                enddate = monday0h;\n                break;\n            case \"last24h\":\n                fromdate = current-p_1d;\n                enddate = current;\n                break;\n            case \"last7d\":\n                fromdate = current-p_7d;\n                enddate = current;\n                break;\n            case \"last30d\":\n                fromdate = current-p_30d;\n                enddate = current;\n                break;\n        }\n        context.set(\"fromdate\",fromdate);\n        context.set(\"enddate\",enddate);\n        break;\n    \n    case \"minus1w\":\n        fromdate = fromdate-p_7d;\n        enddate = enddate-p_7d;\n        context.set(\"fromdate\",fromdate);\n        context.set(\"enddate\",enddate);\n        break;\n    case \"plus1w\":\n        fromdate = fromdate+p_7d;\n        enddate = enddate+p_7d;\n        context.set(\"fromdate\",fromdate);\n        context.set(\"enddate\",enddate);\n        break;\n    case \"minus1d\":\n        fromdate = fromdate-p_1d;\n        enddate = enddate-p_1d;\n        context.set(\"fromdate\",fromdate);\n        context.set(\"enddate\",enddate);\n        break;\n    case \"plus1d\":\n        fromdate = fromdate+p_1d;\n        enddate = enddate+p_1d;\n        context.set(\"fromdate\",fromdate);\n        context.set(\"enddate\",enddate);\n        break;\n}\n\n\n// Regenerate the SQL statements\n// Run through the data source list an generate the SQL statements\nsql = [];\n\n  \n\n\n// Generate report title\nd.setTime(fromdate);\nvar yyyy = d.getFullYear();\nvar mm = d.getMonth() < 9 ? \"0\" + (d.getMonth() + 1) : (d.getMonth() + 1); // getMonth() is zero-based\nvar dd  = d.getDate() < 10 ? \"0\" + d.getDate() : d.getDate();\nvar hh = d.getHours() < 10 ? \"0\" + d.getHours() : d.getHours();\nvar mmm  = d.getMinutes() < 10 ? \"0\" + d.getMinutes() : d.getMinutes();\nvar ss  = d.getSeconds() < 10 ? \"0\" + d.getSeconds() : d.getSeconds();\ntitle = title + dd + \".\" + mm + \".\" + yyyy;\nd.setTime(enddate);\nyyyy = d.getFullYear();\nmm = d.getMonth() < 9 ? \"0\" + (d.getMonth() + 1) : (d.getMonth() + 1); // getMonth() is zero-based\ndd  = d.getDate() < 10 ? \"0\" + d.getDate() : d.getDate();\nhh = d.getHours() < 10 ? \"0\" + d.getHours() : d.getHours();\nmmm  = d.getMinutes() < 10 ? \"0\" + d.getMinutes() : d.getMinutes();\nss  = d.getSeconds() < 10 ? \"0\" + d.getSeconds() : d.getSeconds();\ntitle = title + \" - \" + dd + \".\" + mm + \".\" + yyyy;\n\n   \nfromdate = Math.round(fromdate/1000);\nenddate = Math.round(enddate/1000);\n\n\n\nsql.push({ topic: \"SELECT * FROM my_data WHERE date >= \" + fromdate + \" AND date <= \" + enddate })\n//title = new Date(fromdate) + \" - \" + new Date(enddate);\nsql[sql.length-1].title=title;\n\n\nreturn [sql];\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":550,"y":2160,"wires":[["fa8c7c8b08199512","7c6d82c9c273ecd3","ce91698243020440"]]},{"id":"e383da69bcef04b2","type":"ui_text","z":"2c1f6c62ff8f547c","group":"4552fe72.fdfa5","order":1,"width":"0","height":"0","name":"Chart title","label":"","format":"{{msg.payload}}","layout":"row-center","className":"","x":960,"y":2140,"wires":[]},{"id":"fa8c7c8b08199512","type":"change","z":"2c1f6c62ff8f547c","name":"Title","rules":[{"t":"set","p":"payload","pt":"msg","to":"title","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":2140,"wires":[["e383da69bcef04b2"]]},{"id":"c5c06b66cd8c4b09","type":"catch","z":"2c1f6c62ff8f547c","name":"","scope":null,"uncaught":false,"x":480,"y":2340,"wires":[["5debe3033894b7c0"]]},{"id":"5debe3033894b7c0","type":"debug","z":"2c1f6c62ff8f547c","name":"Error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":730,"y":2340,"wires":[]},{"id":"8f9eb7dada093922","type":"netatmo-dashboard","z":"2c1f6c62ff8f547c","creds":"c0c400e5.eb2b7","x":380,"y":220,"wires":[["7d1f58fb1a96b9e8","2df1674a818f0bdd"]]},{"id":"cece2c05e92c1359","type":"mios-in","z":"2c1f6c62ff8f547c","name":"Vera","server":"120913cb.af28bc","item":"","exact":false,"x":110,"y":1480,"wires":[["89629a91a0eca6a3"]]},{"id":"8673c6ff0e106b3b","type":"mios-out","z":"2c1f6c62ff8f547c","name":"Vera","server":"120913cb.af28bc","item":"","x":410,"y":1540,"wires":[]},{"id":"7c6d82c9c273ecd3","type":"mysql","z":"2c1f6c62ff8f547c","mydb":"2236dfd1.c909e","name":"","x":580,"y":1900,"wires":[["61f592b0ec2ab2de"]]},{"id":"61f592b0ec2ab2de","type":"function","z":"2c1f6c62ff8f547c","name":"Convert time","func":"//var payload=msg.payload;\nfor (var i = 0; i < msg.payload.length; i++) {\n    var dateObj = msg.payload[i].date;\n\n    var lastseen = Number(dateObj) * 1000;\n    // to adjust for the country time you can add one or 2 hours or minus hours \n    // for example if i am in another region and wanted to add 2 hours \n    // lastseen = 7200000 + Number(dateObj)*1000;\n    // hours to miliseconds 1h = 3600000 ms\n    // 2 hours = 7200000 ms\n    var newtime = (new Date(lastseen)).toUTCString();\n    msg.payload[i].date = newtime\n}\n\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":750,"y":2000,"wires":[["520586fa33ce8fc3","ec531d2b69db89f8","eab820228a9cb853","f57615c65151317f","76f00a3a69b667a6"]]},{"id":"d6f7efdeeefb2b84","type":"ui_gauge","z":"2c1f6c62ff8f547c","name":"Outdoor Pressure","group":"a31e2b8b.720da8","order":1,"width":"3","height":"3","gtype":"gage","title":"Outdoor Pressure","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"65","seg2":"70","className":"","x":1050,"y":120,"wires":[]},{"id":"4a814e10e3572511","type":"ui_gauge","z":"2c1f6c62ff8f547c","name":"Noise","group":"a31e2b8b.720da8","order":1,"width":"3","height":"3","gtype":"gage","title":"Noise","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"65","seg2":"70","className":"","x":990,"y":160,"wires":[]},{"id":"7da8226320617be9","type":"ui_gauge","z":"2c1f6c62ff8f547c","name":"Indoor Pressure","group":"a31e2b8b.720da8","order":4,"width":"3","height":"3","gtype":"gage","title":"Indoor Pressure","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"65","seg2":"70","className":"","x":1000,"y":360,"wires":[]},{"id":"766dff63943b0a1b","type":"ui_gauge","z":"2c1f6c62ff8f547c","name":"Noise","group":"a31e2b8b.720da8","order":4,"width":"3","height":"3","gtype":"gage","title":"Noise","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"65","seg2":"70","className":"","x":970,"y":320,"wires":[]},{"id":"17967bbaab032729","type":"ui_gauge","z":"2c1f6c62ff8f547c","name":"Up Temperature","group":"a31e2b8b.720da8","order":4,"width":"3","height":"3","gtype":"gage","title":"Up Temperature","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"65","seg2":"70","className":"","x":1120,"y":460,"wires":[]},{"id":"21e860c5e654a52f","type":"ui_gauge","z":"2c1f6c62ff8f547c","name":"Up Co2","group":"a31e2b8b.720da8","order":4,"width":"3","height":"3","gtype":"gage","title":"Up Co2","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"65","seg2":"70","className":"","x":1120,"y":420,"wires":[]},{"id":"e638f7d96c6d1e56","type":"ui_gauge","z":"2c1f6c62ff8f547c","name":"Up Pressure","group":"a31e2b8b.720da8","order":4,"width":"3","height":"3","gtype":"gage","title":"Up Pressure","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"65","seg2":"70","className":"","x":1130,"y":500,"wires":[]},{"id":"bc831ac3c11a596b","type":"ui_gauge","z":"2c1f6c62ff8f547c","name":"Up Humidity","group":"a31e2b8b.720da8","order":4,"width":"3","height":"3","gtype":"gage","title":"Up Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"65","seg2":"70","className":"","x":1130,"y":540,"wires":[]},{"id":"f6a282c17cd49ab0","type":"function","z":"2c1f6c62ff8f547c","name":"Save to DB","func":"// @ts-nocheck\nepoch = new Date().getTime();\n\n// javascript convert from epoch string to Date object\ndate = Math.round(epoch / 1000);\n\n\nvar ha = global.get('homeassistant').homeAssistant.states;\n\nvar NO_T = ha[\"sensor.netatmo_netatmo_netatmo_outdoor_temperature\"].state;\nNO_T = (NO_T !== undefined && NO_T !== null && NO_T !== \"\") ? Number(NO_T) : 0;\n\nvar NO_H = ha[\"sensor.netatmo_netatmo_netatmo_outdoor_humidity\"].state;\nNO_H = (NO_H !== undefined && NO_H !== null && NO_H !== \"\") ? Number(NO_H) : 0;\n\n//var NO_P = ha[\"sensor.netatmo_netatmo_netatmo_outdoor_temperature\"].state;\nNO_P = (NO_P !== undefined && NO_P !== null && NO_P !== \"\") ? Number(NO_P) : 0;\n\n\n\n\nvar NID_CO2 = ha[\"sensor.netatmo_co2\"].state;\nif (NID_CO2 === undefined || isNaN(NID_CO2)) {\n    NID_CO2 = 0;\n} else {\n    NID_CO2 = Number(NID_CO2) / 100;\n}\n\nvar NID_H = ha[\"sensor.netatmo_humidity\"].state;\nNID_H = (NID_H !== undefined && NID_H !== null && NID_H !== \"\") ? Number(NID_H) : 0;\n\nvar NID_N = ha[\"sensor.netatmo_noise\"].state;\nNID_N = (NID_N !== undefined && NID_N !== null && NID_N !== \"\") ? Number(NID_N) : 0;\n\nvar NID_P = ha[\"sensor.netatmo_pressure\"].state;\nif (NID_P === undefined || isNaN(NID_P)) {\n    NID_P = 0;\n} else {\n    NID_P = Number(NID_P) / 100;\n}\n\n\nvar NID_T = ha[\"sensor.netatmo_temperature\"].state;\nNID_T = (NID_T !== undefined && NID_T !== null && NID_T !== \"\") ? Number(NID_T) : 0;\n\n\nvar NIU_CO2 = ha[\"sensor.netatmo_netatmo_netatmo_tv_room_co2\"].state;\nif (NIU_CO2 === undefined || isNaN(NIU_CO2)) {\n    NIU_CO2 = 0;\n} else {\n    NIU_CO2 = Number(NIU_CO2) / 100;\n}\n\n\n\nvar NIU_T = ha[\"sensor.netatmo_netatmo_netatmo_tv_room_temperature\"].state;\nNIU_T = (NIU_T !== undefined && NIU_T !== null && NIU_T !== \"\") ? Number(NIU_T) : 0;\n\nvar NIU_H = ha[\"sensor.netatmo_netatmo_netatmo_tv_room_humidity\"].state;\nNIU_H = (NIU_H !== undefined && NIU_H !== null && NIU_H !== \"\") ? Number(NIU_H) : 0;\n\n//var NIU_P = ha[\"sensor.netatmo_netatmo_netatmo_tv_room_temperature\"].state;\n//NIU_P = Number(NIU_P);\nNIU_P = (NIU_P !== undefined && NIU_P !== null && NIU_P !== \"\") ? Number(NIU_P) : 0;\n\n\n\nvar ATV_T = ha[\"sensor.temperature_and_humidity_sensor_ea02_temperature_sensor_ea02\"].state;\nATV_T = (ATV_T !== undefined && ATV_T !== null && ATV_T !== \"\") ? Number(ATV_T) : 0;\n\nvar ATV_H = ha[\"sensor.temperature_and_humidity_sensor_ea02\"].state;\nATV_H = (ATV_H !== undefined && ATV_H !== null && ATV_H !== \"\") ? Number(ATV_H) : 0;\n\n\nvar AKA_T = ha[\"sensor.temperature_and_humidity_sensor_5406_temperature_sensor_5406\"].state;\nAKA_T = (AKA_T !== undefined && AKA_T !== null && AKA_T !== \"\") ? Number(AKA_T) : 0;\n\nvar AKA_H = ha[\"sensor.temperature_and_humidity_sensor_5406\"].state;\nAKA_H = (AKA_H !== undefined && AKA_H !== null && AKA_H !== \"\") ? Number(AKA_H) : 0;\n\n\nvar AZ_T = ha[\"sensor.temperature_and_humidity_sensor_eabd_temperature_sensor_eabd\"].state;\nAZ_T = (AZ_T !== undefined && AZ_T !== null && AZ_T !== \"\") ? Number(AZ_T) : 0;\n\nvar AZ_H = ha[\"sensor.temperature_and_humidity_sensor_eabd\"].state;\nAZ_H = (AZ_H !== undefined && AZ_H !== null && AZ_H !== \"\") ? Number(AZ_H) : 0;\n\n\nvar AKI_T = ha[\"sensor.temperature_and_humidity_sensor_d497_temperature_sensor_d497\"].state;\nAKI_T = (AKI_T !== undefined && AKI_T !== null && AKI_T !== \"\") ? Number(AKI_T) : 0;\n\nvar AKI_H = ha[\"sensor.temperature_and_humidity_sensor_d497\"].state;\nAKI_H = (AKI_H !== undefined && AKI_H !== null && AKI_H !== \"\") ? Number(AKI_H) : 0;\n\n\nvar AM_T = ha[\"sensor.temperature_and_humidity_sensor_9721_temperature_sensor_9721\"].state;\nAM_T = (AM_T !== undefined && AM_T !== null && AM_T !== \"\") ? Number(AM_T) : 0;\n\nvar AM_H = ha[\"sensor.temperature_and_humidity_sensor_9721\"].state;\nAM_H = (AM_H !== undefined && AM_H !== null && AM_H !== \"\") ? Number(AM_H) : 0;\n\nvar mill3_T = ha[\"sensor.3_temperature\"].state;\nmill3_T = (mill3_T !== undefined && mill3_T !== null && mill3_T !== \"\") ? Number(mill3_T) : 0;\n\n\n//var mill3_P = ha[\"sensor.netatmo_netatmo_netatmo_tv_room_temperature\"].state;\n//mill3_P = Number(mill3_P);\nmill3_P = (mill3_P !== undefined && mill3_P !== null && mill3_P !== \"\") ? Number(mill3_P) : 0;\n\n\nvar mill3_TVOC = ha[\"sensor.3_tvoc\"].state;\nif (mill3_TVOC === undefined || isNaN(mill3_TVOC)) {\n    mill3_TVOC = 0;\n} else {\n    mill3_TVOC = Number(mill3_TVOC) / 100;\n}\n\n\n\nvar mill3_ECO2 = ha[\"sensor.3_estimated_co2\"].state;\nif (mill3_ECO2 === undefined || isNaN(mill3_ECO2)) {\n    mill3_ECO2 = 0;\n} else {\n    mill3_ECO2 = Number(mill3_ECO2) / 100;\n}\n\n\n\nvar mill3_H = ha[\"sensor.3_humidity\"].state;\nmill3_H = (mill3_H !== undefined && mill3_H !== null && mill3_H !== \"\") ? Number(mill3_H) : 0;\n\nvar mill2_T = ha[\"sensor.2_temperature\"].state;\nmill2_T = (mill2_T !== undefined && mill2_T !== null && mill2_T !== \"\") ? Number(mill2_T) : 0;\n\n\n//var mill2_P = ha[\"sensor.netatmo_netatmo_netatmo_tv_room_temperature\"].state;\n//mill2_P = Number(mill2_P);\nmill2_P = (mill2_P !== undefined && mill2_P !== null && mill2_P !== \"\") ? Number(mill2_P) : 0;\n\nvar mill2_TVOC = ha[\"sensor.2_tvoc\"].state;\nif (mill2_TVOC === undefined || isNaN(mill2_TVOC)) {\n    mill2_TVOC = 0;\n} else {\n    mill2_TVOC = Number(mill2_TVOC) / 100;\n}\n\n\nvar mill2_ECO2 = ha[\"sensor.2_estimated_co2\"].state;\nif (mill2_ECO2 === undefined || isNaN(mill2_ECO2)) {\n    mill2_ECO2 = 0;\n} else {\n    mill2_ECO2 = Number(mill2_ECO2) / 100;\n}\n\n\nvar mill2_H = ha[\"sensor.2_humidity\"].state;\nmill2_H = (mill2_H !== undefined && mill2_H !== null && mill2_H !== \"\") ? Number(mill2_H) : 0;\n\nvar mill1_T = ha[\"sensor.mill_mohsen_temperature\"].state;\nmill1_T = (mill1_T !== undefined && mill1_T !== null && mill1_T !== \"\") ? Number(mill1_T) : 0;\n\n//var mill1_P = ha[\"sensor.netatmo_netatmo_netatmo_tv_room_temperature\"].state;\n//mill1_P = Number(mill1_P);\nmill1_P = (mill1_P !== undefined && mill1_P !== null && mill1_P !== \"\") ? Number(mill1_P) : 0;\n\n// NO_P, NID_P, NIU_P, mill3_T, mill3_P, mill2_T, mill2_P, mill1_T. mill1_P\n\nvar mill1_TVOC = ha[\"sensor.mill_mohsen_tvoc\"].state;\nif (mill1_TVOC === undefined || isNaN(mill1_TVOC)) {\n    mill1_TVOC = 0;\n} else {\n    mill1_TVOC = Number(mill1_TVOC) / 100;\n}\n\n\nvar mill1_ECO2 = ha[\"sensor.mill_mohsen_estimated_co2\"].state;\nif (mill1_ECO2 === undefined || isNaN(mill1_ECO2)) {\n    mill1_ECO2 = 0;\n} else {\n    mill1_ECO2 = Number(mill1_ECO2) / 100;\n}\n\n\nvar mill1_H = ha[\"sensor.mill_mohsen_humidity\"].state;\nmill1_H = (mill1_H !== undefined && mill1_H !== null && mill1_H !== \"\") ? Number(mill1_H) : 0;\n\n\n//var A_A1E5 = ha[\"switch.outlet_a1e5\"].state;\n//A_A1E5 = Number(A_A1E5);\nA_A1E5 = (A_A1E5 !== undefined && A_A1E5 !== null && A_A1E5 !== \"\") ? Number(A_A1E5) : 0;\n\nvar Vec = ha[\"sensor.estimated_consumption_current_hour_veitvetveien_305\"].state;\nVec = (Vec !== undefined && Vec !== null && Vec !== \"\") ? Number(Vec) : 0;\n\nvar Vac = ha[\"sensor.accumulated_consumption_veitvetveien_305\"].state;\nVac = (Vac !== undefined && Vac !== null && Vac !== \"\") ? Number(Vac) : 0;\n\nvar Vach = ha[\"sensor.accumulated_consumption_current_hour_veitvetveien_305\"].state;\nVach = (Vach !== undefined && Vach !== null && Vach !== \"\") ? Number(Vach) : 0;\n\nvar Vav = ha[\"sensor.average_power_veitvetveien_305\"].state;\nif (Vav === undefined || isNaN(Vav)) {\n    Vav = 0;\n} else {\n    Vav = Number(Vav) / 100;\n}\n\n\nvar Vmax = ha[\"sensor.max_power_veitvetveien_305\"].state;\nif (Vmax === undefined || isNaN(Vmax)) {\n    Vmax = 0;\n} else {\n    Vmax = Number(Vmax) / 100;\n}\n\n\nvar Vmin = ha[\"sensor.min_power_veitvetveien_305\"].state;\nif (Vmin === undefined || isNaN(Vmin)) {\n    Vmin = 0;\n} else {\n    Vmin = Number(Vmin) / 100;\n}\n\n\nvar Vp = ha[\"sensor.power_veitvetveien_305\"].state;\nif (Vp === undefined || isNaN(Vp)) {\n    Vp = 0;\n} else {\n    Vp = Number(Vp) / 100;\n}\n\n\nvar VL1 = ha[\"sensor.current_l1_veitvetveien_305\"].state;\nVL1 = (VL1 !== undefined && VL1 !== null && VL1 !== \"\") ? Number(VL1) : 0;\n\n//var Plki3_T = ha[\"climate.plki3\"].state;\n//Plki3_T = Number(Plki3_T);\nPlki3_T = (Plki3_T !== undefined && Plki3_T !== null && Plki3_T !== \"\") ? Number(Plki3_T) : 0;\n\nvar Plki3_day = ha[\"sensor.plki3_day_consumption_2\"].state;\nPlki3_day = (Plki3_day !== undefined && Plki3_day !== null && Plki3_day !== \"\") ? Number(Plki3_day) : 0;\n\nvar Plki3_year = ha[\"sensor.plki3_year_consumption_2\"].state;\nPlki3_year = (Plki3_year !== undefined && Plki3_year !== null && Plki3_year !== \"\") ? Number(Plki3_year) : 0;\n\n\n//var Pltv2_T = ha[\"climate.pltv2\"].state;\n//Pltv2_T = Number(Pltv2_T);\nPltv2_T = (Pltv2_T !== undefined && Pltv2_T !== null && Pltv2_T !== \"\") ? Number(Pltv2_T) : 0;\n\nvar Pltv2_day = ha[\"sensor.pltv2_day_consumption\"].state;\nPltv2_day = (Pltv2_day !== undefined && Pltv2_day !== null && Pltv2_day !== \"\") ? Number(Pltv2_day) : 0;\n\nvar Pltv2_year = ha[\"sensor.pltv2_year_consumption\"].state;\nPltv2_year = (Pltv2_year !== undefined && Pltv2_year !== null && Pltv2_year !== \"\") ? Number(Pltv2_year) : 0;\n\nCO2_previous = context.get(\"CO2_previous\");\n\nif (CO2_previous != NID_CO2) {\n    CO2_previous = NID_CO2;\n    //msg = { date, NO_T, NID_CO2, NIU_CO2, NIU_T, NID_T, ATV_T, AKA_T, AZ_T, AKI_T, AM_T, NO_P, NID_P, NIU_P, mill3_T, mill3_P, mill2_T, mill2_P, mill1_T, mill1_P };\n    //msg = { date, NO_T, NO_H, NO_P, NID_CO2, NID_H, NID_N, NID_P, NID_T, NIU_CO2, NIU_T, NIU_H, NIU_P, ATV_T, ATV_H, AKA_T, AKA_H, AZ_T, AZ_H, AKI_T, AKI_H, AM_T, AM_H, mill3_T, mill3_P, mill3_TVOC, mill3_ECO2, mill3_H, mill2_T, mill2_P, mill2_TVOC, mill2_ECO2, mill2_H, mill1_T, mill1_P, mill1_TVOC, mill1_ECO2, mill1_H, A_A1E5 };\n    msg = {\n        date, NO_T, NO_H, NO_P, NID_CO2, NID_H, NID_N, NID_P, NID_T, NIU_CO2, NIU_T, NIU_H, NIU_P, ATV_T, ATV_H, AKA_T, AKA_H, AZ_T, AZ_H, AKI_T, AKI_H, AM_T, AM_H, mill3_T, mill3_P, mill3_TVOC, mill3_ECO2, mill3_H, mill2_T, mill2_P, mill2_TVOC, mill2_ECO2, mill2_H, mill1_T, mill1_P, mill1_TVOC, mill1_ECO2, mill1_H, A_A1E5, Vec, Vac, Vach, Vav, Vmax, Vmin, Vp, VL1, Plki3_T, Plki3_day, Plki3_year, Pltv2_T, Pltv2_day, Pltv2_year\n    };\n    context.set(\"CO2_previous\", NID_CO2);\n    return msg;\n\n}\nelse return null;\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":1640,"wires":[["b82d27d46a9cae41","e8ab1aaad43b62bb"]]},{"id":"b82d27d46a9cae41","type":"function","z":"2c1f6c62ff8f547c","name":"create insert statement","func":"// @ts-nocheck\n//insert = \"INSERT INTO my_data (date, NO_T, NID_CO2, NIU_CO2, NIU_T, NID_T, ATV_T, AKA_T, AZ_T, AKI_T, AM_T, NO_P, NID_P, NIU_P, mill3_T, mill3_P, mill2_T, mill2_P, mill1_T, mill1_P) \" + \"VALUES (\" + msg.date + \",\" + msg.NO_T + \",\" + msg.NID_CO2 + \",\" + msg.NIU_CO2 + \",\" + msg.NIU_T + \",\" + msg.NID_T + \",\" + msg.ATV_T + \",\" + msg.AKA_T + \",\" + msg.AZ_T + \",\" + msg.AKI_T + \",\" + msg.AM_T + \",\" + msg.NO_P + \",\" + msg.NID_P + \",\" + msg.NIU_P + \",\" + msg.mill3_T + \",\" + msg.mill3_P + \",\" + msg.mill2_T + \",\" + msg.mill2_P + \",\" + msg.mill1_T + \",\" + msg.mill1_P + \")\";\n//insert = \"INSERT INTO my_data (date, NO_T, NO_H, NO_P, NID_CO2, NID_H, NID_N, NID_P, NID_T, NIU_CO2, NIU_T, NIU_H, NIU_P, ATV_T, ATV_H, AKA_T, AKA_H, AZ_T, AZ_H, AKI_T, AKI_H, AM_T, AM_H, mill3_T, mill3_P, mill3_TVOC, mill3_ECO2, mill3_H, mill2_T, mill2_P, mill2_TVOC, mill2_ECO2, mill2_H, mill1_T, mill1_P, mill1_TVOC, mill1_ECO2, mill1_H, A_A1E5) \" + \"VALUES (\" + msg.date + \",\" + msg.NO_T + \",\" + msg.NO_H + \",\" + msg.NO_P + \",\" + msg.NID_CO2 + \",\" + msg.NID_H + \",\" + msg.NID_N + \",\" + msg.NID_P + \",\" + msg.NID_T + \",\" + msg.NIU_CO2 + \",\" + msg.NIU_T + \",\" + msg.NIU_H + \",\" + msg.NIU_P + \",\" + msg.ATV_T + \",\" + msg.ATV_H + \",\" + msg.AKA_T + \",\" + msg.AKA_H + \",\" + msg.AZ_T + \",\" + msg.AZ_H + \",\" + msg.AKI_T + \",\" + msg.AKI_H + \",\" + msg.AM_T + \",\" + msg.AM_H + \",\" + msg.mill3_T + \",\" + msg.mill3_P + \",\" + msg.mill3_TVOC + \",\" + msg.mill3_ECO2 + \",\" + msg.mill3_H + \",\" + msg.mill2_T + \",\" + msg.mill2_P + \",\" + msg.mill2_TVOC + \",\" + msg.mill2_ECO2 + \",\" + msg.mill2_H + \",\" + msg.mill1_T + \",\" + msg.mill1_P + \",\" + msg.mill1_TVOC + \",\" + msg.mill1_ECO2 + \",\" + msg.mill1_H + \",\" + msg.A_A1E5 + \")\";\ninsert = \"INSERT INTO my_data (date, NO_T, NO_H, NO_P, NID_CO2, NID_H, NID_N, NID_P, NID_T, NIU_CO2, NIU_T, NIU_H, NIU_P, ATV_T, ATV_H, AKA_T, AKA_H, AZ_T, AZ_H, AKI_T, AKI_H, AM_T, AM_H, mill3_T, mill3_P, mill3_TVOC, mill3_ECO2, mill3_H, mill2_T, mill2_P, mill2_TVOC, mill2_ECO2, mill2_H, mill1_T, mill1_P, mill1_TVOC, mill1_ECO2, mill1_H, A_A1E5, Vec, Vac, Vach, Vav, Vmax, Vmin, Vp, VL1, Plki3_T, Plki3_day, Plki3_year, Pltv2_T, Pltv2_day, Pltv2_year) \" + \"VALUES (\" + msg.date + \",\" + msg.NO_T + \",\" + msg.NO_H + \",\" + msg.NO_P + \",\" + msg.NID_CO2 + \",\" + msg.NID_H + \",\" + msg.NID_N + \",\" + msg.NID_P + \",\" + msg.NID_T + \",\" + msg.NIU_CO2 + \",\" + msg.NIU_T + \",\" + msg.NIU_H + \",\" + msg.NIU_P + \",\" + msg.ATV_T + \",\" + msg.ATV_H + \",\" + msg.AKA_T + \",\" + msg.AKA_H + \",\" + msg.AZ_T + \",\" + msg.AZ_H + \",\" + msg.AKI_T + \",\" + msg.AKI_H + \",\" + msg.AM_T + \",\" + msg.AM_H + \",\" + msg.mill3_T + \",\" + msg.mill3_P + \",\" + msg.mill3_TVOC + \",\" + msg.mill3_ECO2 + \",\" + msg.mill3_H + \",\" + msg.mill2_T + \",\" + msg.mill2_P + \",\" + msg.mill2_TVOC + \",\" + msg.mill2_ECO2 + \",\" + msg.mill2_H + \",\" + msg.mill1_T + \",\" + msg.mill1_P + \",\" + msg.mill1_TVOC + \",\" + msg.mill1_ECO2 + \",\" + msg.mill1_H + \",\" + msg.A_A1E5 + \",\" + msg.Vec + \",\" + msg.Vac + \",\" + msg.Vach + \",\" + msg.Vav + \",\" + msg.Vmax + \",\" + msg.Vmin + \",\" + msg.Vp + \",\" + msg.VL1 + \",\" + msg.Plki3_T + \",\" + msg.Plki3_day + \",\" + msg.Plki3_year + \",\" + msg.Pltv2_T + \",\" + msg.Pltv2_day + \",\" + msg.Pltv2_year + \")\";\nmsg.topic = insert;\nvar now = new Date();\nvar yyyy = now.getFullYear();\nvar mm = now.getMonth() < 9 ? \"0\" + (now.getMonth() + 1) : (now.getMonth() + 1); // getMonth() is zero-based\nvar dd  = now.getDate() < 10 ? \"0\" + now.getDate() : now.getDate();\nvar hh = now.getHours() < 10 ? \"0\" + now.getHours() : now.getHours();\nvar mmm  = now.getMinutes() < 10 ? \"0\" + now.getMinutes() : now.getMinutes();\nvar ss  = now.getSeconds() < 10 ? \"0\" + now.getSeconds() : now.getSeconds();\nnode.status({fill:\"blue\",shape:\"ring\",text:\"Last update: \"+dd + \".\" + mm + \".\" + yyyy + \" \" + hh + \":\" + mmm + \":\" + ss});    \n      \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":1580,"wires":[["317f3c9544d9f570"]]},{"id":"317f3c9544d9f570","type":"mysql","z":"2c1f6c62ff8f547c","mydb":"2236dfd1.c909e","name":"","x":720,"y":1740,"wires":[["83efb03643b99ad8"]]},{"id":"83efb03643b99ad8","type":"debug","z":"2c1f6c62ff8f547c","name":"To oooooooooooooooooooooooodatabase ","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":900,"y":1540,"wires":[]},{"id":"5d9e08cda6c72a7b","type":"api-call-service","z":"2c1f6c62ff8f547c","name":"","server":"985f2d51.e8e58","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":["coredour"],"deviceId":["e55e1ac468a98721ceed2d0bada8137b"],"entityId":["switch.outlet_a1e5"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":480,"y":780,"wires":[[]]},{"id":"3546ce16ed4b8200","type":"api-call-service","z":"2c1f6c62ff8f547c","name":"","server":"985f2d51.e8e58","version":5,"debugenabled":false,"domain":"switch","service":"turn_on","areaId":["coredour"],"deviceId":["e55e1ac468a98721ceed2d0bada8137b"],"entityId":["switch.outlet_a1e5"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":460,"y":840,"wires":[[]]},{"id":"ec531d2b69db89f8","type":"ui_table","z":"2c1f6c62ff8f547c","group":"212b7f06.b4731","name":"Table","order":39,"width":0,"height":0,"columns":[{"field":"id","title":"id1","width":"160","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"Vac","title":"VVVVVVVV","width":"160","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":0,"cts":false,"x":870,"y":1840,"wires":[]},{"id":"d813c51f912bda7a","type":"mqtt out","z":"2c1f6c62ff8f547c","name":"Relay4","topic":"mohsen-motor/cmnd/POWER4","qos":"","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"e3a4058c.3ac098","x":1060,"y":900,"wires":[]},{"id":"2a2fba5bb9d3765f","type":"trigger","z":"2c1f6c62ff8f547c","name":"","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"1","extend":false,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":840,"y":900,"wires":[["d813c51f912bda7a"]]},{"id":"afbbedcece579d7a","type":"inject","z":"2c1f6c62ff8f547c","name":"All Fans Off","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"false","payloadType":"bool","x":430,"y":960,"wires":[["2a2fba5bb9d3765f"]]},{"id":"cd105c32e8aef03c","type":"ui_button","z":"2c1f6c62ff8f547c","name":"","group":"27c3d951.18a4e6","order":5,"width":"2","height":"1","passthru":false,"label":"-1W","tooltip":"","color":"","bgcolor":"","className":"","icon":"chevron_left","payload":"","payloadType":"str","topic":"minus1w","topicType":"str","x":90,"y":2300,"wires":[["de4599668ccfcea3","ec183050359c2825"]]},{"id":"32c1d38751c26842","type":"ui_button","z":"2c1f6c62ff8f547c","name":"","group":"27c3d951.18a4e6","order":6,"width":"2","height":"1","passthru":false,"label":"-1D","tooltip":"","color":"","bgcolor":"","className":"","icon":"chevron_left","payload":"","payloadType":"str","topic":"minus1d","topicType":"str","x":90,"y":2340,"wires":[["de4599668ccfcea3","ec183050359c2825"]]},{"id":"2ab6bd2aa1c87134","type":"ui_button","z":"2c1f6c62ff8f547c","name":"","group":"27c3d951.18a4e6","order":8,"width":"2","height":"1","passthru":false,"label":"+1W","tooltip":"","color":"","bgcolor":"","className":"","icon":"chevron_right","payload":"","payloadType":"str","topic":"plus1w","topicType":"str","x":90,"y":2380,"wires":[["de4599668ccfcea3","ec183050359c2825"]]},{"id":"7cbe984a810f8fb8","type":"ui_button","z":"2c1f6c62ff8f547c","name":"","group":"27c3d951.18a4e6","order":7,"width":"2","height":"1","passthru":false,"label":"+1D","tooltip":"","color":"","bgcolor":"","className":"","icon":"chevron_right","payload":"","payloadType":"str","topic":"plus1d","topicType":"str","x":90,"y":2420,"wires":[["de4599668ccfcea3","ec183050359c2825"]]},{"id":"f57615c65151317f","type":"change","z":"2c1f6c62ff8f547c","name":"Format data","rules":[{"t":"set","p":"payload","pt":"msg","to":"(\t  $series := [\t    { \"field\": \"NO_T\", \"label\": \"NO_T\" },\t    { \"field\": \"NID_CO2\", \"label\": \"NID_CO2\" },\t    { \"field\": \"NIU_CO2\", \"label\": \"NIU_CO2\" },\t    { \"field\": \"ATV_T\", \"label\": \"ATV_T\" },\t    { \"field\": \"Vav\", \"label\": \"Vav\" },\t    { \"field\": \"Vach\", \"label\": \"Vach\" },\t    { \"field\": \"VL1\", \"label\": \"VL1\" }\t\t  ];\t   $xaxis := \"date\";\t  [\t    {\t      \"series\": $series.label,\t      \"data\": $series.[\t        (\t          $yaxis := $.field;\t          $$.payload.{\t            \"x\": $lookup($, $xaxis),\t            \"y\": $lookup($, $yaxis)\t          }\t        )\t      ]\t    }\t  ]\t)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1050,"y":2060,"wires":[["3f2432def7662726"]]},{"id":"3f2432def7662726","type":"ui_chart","z":"2c1f6c62ff8f547c","name":"24 hours data","group":"27c3d951.18a4e6","order":2,"width":"27","height":"14","label":"Chart","chartType":"line","legend":"true","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":true,"useUTC":false,"colors":["#00e68c","#2d2da8","#ff7f0e","#a0962c","#e08fd5","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":1260,"y":2060,"wires":[[]]},{"id":"80b4f5482d5944bc","type":"ui_dropdown","z":"2c1f6c62ff8f547c","name":"Period","label":"","tooltip":"","place":"","group":"27c3d951.18a4e6","order":4,"width":"4","height":"1","passthru":false,"multiple":false,"options":[{"label":"Today","value":"today","type":"str"},{"label":"Yesterday","value":"yesterday","type":"str"},{"label":"This week","value":"thisweek","type":"str"},{"label":"Last week","value":"lastweek","type":"str"},{"label":"Last 24 hours","value":"last24h","type":"str"},{"label":"Last 7 days","value":"last7d","type":"str"},{"label":"Last 30 days","value":"last30d","type":"str"}],"payload":"","topic":"period","topicType":"str","className":"","x":90,"y":2240,"wires":[["ec183050359c2825"]]},{"id":"ce91698243020440","type":"change","z":"2c1f6c62ff8f547c","name":"Title","rules":[{"t":"set","p":"payload","pt":"msg","to":"title","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":2180,"wires":[["ce9c9243387e29c1"]]},{"id":"ce9c9243387e29c1","type":"ui_text","z":"2c1f6c62ff8f547c","group":"27c3d951.18a4e6","order":1,"width":"0","height":"0","name":"Chart title","label":"","format":"{{msg.payload}}","layout":"row-center","className":"","x":960,"y":2180,"wires":[]},{"id":"76f00a3a69b667a6","type":"change","z":"2c1f6c62ff8f547c","name":"Format data","rules":[{"t":"set","p":"payload","pt":"msg","to":"(\t  $series := [\t    { \"field\": \"mill3_TVOC\", \"label\": \"mill3_TVOC/10\" },\t    { \"field\": \"mill3_ECO2\", \"label\": \"mill3_ECO2/100\" },\t    { \"field\": \"mill2_TVOC\", \"label\": \"mill2_TVOC/10\" },\t    { \"field\": \"mill2_ECO2\", \"label\": \"mill2_ECO2/100\" },\t    { \"field\": \"mill1_TVOC\", \"label\": \"mill1_TVOC/10\" },\t    { \"field\": \"mill1_ECO2\", \"label\": \"mill1_ECO2/100\" },\t    { \"field\": \"NID_CO2\", \"label\": \"NID_CO2/100\" },\t    { \"field\": \"NIU_CO2\", \"label\": \"NIU_CO2/100\" }\t\t  ];\t   $xaxis := \"date\";\t  [\t    {\t      \"series\": $series.label,\t      \"data\": $series.[\t        (\t          $yaxis := $.field;\t          $$.payload.{\t            \"x\": $lookup($, $xaxis),\t            \"y\": $lookup($, $yaxis)\t          }\t        )\t      ]\t    }\t  ]\t)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1030,"y":1860,"wires":[["b48032de3fcdf0ca"]]},{"id":"b48032de3fcdf0ca","type":"ui_chart","z":"2c1f6c62ff8f547c","name":"Mill","group":"304730.1de8e8d","order":2,"width":"0","height":"0","label":"Chart","chartType":"line","legend":"true","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#00e68c","#2d2da8","#ff7f0e","#a0962c","#e08fd5","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":1210,"y":1860,"wires":[[]]},{"id":"7d512a18dc79bd5c","type":"change","z":"2c1f6c62ff8f547c","name":"Format data","rules":[{"t":"set","p":"payload","pt":"msg","to":"(\t  $series := [\t    { \"field\": \"NO_T\", \"label\": \"NO_T\" },\t    { \"field\": \"NID_CO2\", \"label\": \"NID_CO2\" },\t    { \"field\": \"NIU_CO2\", \"label\": \"NIU_CO2\" },\t    { \"field\": \"NIU_T\", \"label\": \"NIU_T\" },\t    { \"field\": \"NID_T\", \"label\": \"NID_T\" },\t    { \"field\": \"ATV_T\", \"label\": \"ATV_T\" },\t    { \"field\": \"AKA_T\", \"label\": \"AKA_T\" },\t    { \"field\": \"AZ_T\", \"label\": \"AZ_T\" },\t    { \"field\": \"AKI_T\", \"label\": \"AKI_T\" },\t    { \"field\": \"AM_T\", \"label\": \"AM_T\" },\t    { \"field\": \"NO_P\", \"label\": \"NO_P\" },\t    { \"field\": \"NID_P\", \"label\": \"NID_P\" },\t    { \"field\": \"NIU_P\", \"label\": \"NIU_P\" },\t    { \"field\": \"mill3_T\", \"label\": \"mill3_T\" },\t    { \"field\": \"mill3_P\", \"label\": \"mill3_P\" },\t    { \"field\": \"mill3_TVOC\", \"label\": \"mill3_TVOC\" },\t    { \"field\": \"mill3_ECO2\", \"label\": \"mill3_ECO2\" },\t    { \"field\": \"mill2_T\", \"label\": \"mill2_T\" },\t    { \"field\": \"mill2_P\", \"label\": \"mill2_P\" },\t    { \"field\": \"mill2_TVOC\", \"label\": \"mill2_TVOC\" },\t    { \"field\": \"mill2_ECO2\", \"label\": \"mill2_ECO2\" },\t    { \"field\": \"mill1_T\", \"label\": \"mill1_T\" },\t    { \"field\": \"mill1_P\", \"label\": \"mill1_P\" },\t    { \"field\": \"mill1_TVOC\", \"label\": \"mill1_TVOC\" },\t    { \"field\": \"mill1_ECO2\", \"label\": \"mill1_ECO2\" },\t    { \"field\": \"Vec\", \"label\": \"Vec\" },\t    { \"field\": \"Vac\", \"label\": \"Vac\" },\t    { \"field\": \"Vach\", \"label\": \"Vach\" },\t    { \"field\": \"Vav\", \"label\": \"Vav\" },\t    { \"field\": \"Vmax\", \"label\": \"Vmax\" },\t    { \"field\": \"Vmin\", \"label\": \"Vmin\" },\t    { \"field\": \"Vp\", \"label\": \"Vp\" },\t    { \"field\": \"VL1\", \"label\": \"VL1\" }\t\t  ];\t   $xaxis := \"date\";\t  [\t    {\t      \"series\": $series.label,\t      \"data\": $series.[\t        (\t          $yaxis := $.field;\t          $$.payload.{\t            \"x\": $lookup($, $xaxis),\t            \"y\": $lookup($, $yaxis)\t          }\t        )\t      ]\t    }\t  ]\t)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1050,"y":1920,"wires":[[]]},{"id":"624e9dcd8c1fb1af","type":"debug","z":"2c1f6c62ff8f547c","name":"TTTTTTTTTTTTTTTTest","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":270,"y":420,"wires":[]},{"id":"2f65bf0a57657f4f","type":"function","z":"2c1f6c62ff8f547c","name":"Save to DB","func":"\nvar msg1 = {};\nvar msg2 = {};\nvar msg3 = {};\n\nvar ha = global.get('homeassistant').homeAssistant.states;\n\nvar test1 = ha[\"climate.plki3\"].attributes;\nvar test2 = ha[\"climate.plki3\"].attributes.temperature;\n\n\n\n//test = Number(test);\n\n\n//const gHomeAssistant = global.get('homeassistant').homeAssistant;\n//msg.payload = gHomeAssistant.states[`sun.sun`].attributes.elevation;\n\nmsg1.payload = test1;\nmsg2.payload = test2;\n\nreturn [msg1, msg2];\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":190,"y":320,"wires":[["624e9dcd8c1fb1af"]]},{"id":"3a6af93f6f1f451d","type":"inject","z":"2c1f6c62ff8f547c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"30","crontab":"","once":false,"onceDelay":"1","topic":"5 Minutes Timer","payload":"true","payloadType":"bool","x":140,"y":240,"wires":[["2f65bf0a57657f4f"]]},{"id":"85c5fc1a.058f5","type":"switch","z":"2c1f6c62ff8f547c","d":true,"name":"ON only","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"ON","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":440,"y":2700,"wires":[["ebd143.f10fbec","7b4db3fe.6f32dc"]]},{"id":"7b4db3fe.6f32dc","type":"delay","z":"2c1f6c62ff8f547c","d":true,"name":"","pauseType":"delay","timeout":"1","timeoutUnits":"hours","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":620,"y":2660,"wires":[["963523b0.5cdbc"]]},{"id":"963523b0.5cdbc","type":"api-call-service","z":"2c1f6c62ff8f547c","d":true,"name":"hassio","server":"1e776005.3ee9b","version":5,"debugenabled":false,"domain":"hassio","service":"addon_stdin","areaId":[],"deviceId":[],"entityId":[],"data":"{\"addon\":\"7be23ff5_dropbox_sync\",\"input\":{\"command\":\"upload\"}}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":790,"y":2660,"wires":[[]]},{"id":"ebd143.f10fbec","type":"function","z":"2c1f6c62ff8f547c","d":true,"name":"format snapshot","func":"msg.payload = \n{\n  \"data\": \n  {\n    \"name\": (new Date().toISOString().replace(':', '_').replace(':', '_').replace(/\\..+/, ''))+\"_Snapshot\",\n    \"folders\":[\"homeassistant\",\"share\"]\n  }\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":2720,"wires":[["826d23b8.3775f"]]},{"id":"826d23b8.3775f","type":"api-call-service","z":"2c1f6c62ff8f547c","d":true,"name":"Snapshot","server":"1e776005.3ee9b","version":5,"debugenabled":false,"domain":"hassio","service":"snapshot_partial","areaId":[],"deviceId":[],"entityId":[],"data":"{}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":880,"y":2720,"wires":[[]]},{"id":"cce2d3db.51288","type":"rbe","z":"2c1f6c62ff8f547c","d":true,"name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","topi":"topic","x":290,"y":2700,"wires":[["85c5fc1a.058f5"]]},{"id":"bd914980.a4c9d8","type":"light-scheduler","z":"2c1f6c62ff8f547c","d":true,"settings":"bc023b9.e858cc8","events":"[{\"start\":{\"dow\":1,\"mod\":0},\"end\":{\"dow\":1,\"mod\":15}}]","topic":"","name":"Once a week","onPayload":"ON","onPayloadType":"str","offPayload":"OFF","offPayloadType":"str","onlyWhenDark":false,"scheduleRndMax":"","sunElevationThreshold":6,"sunShowElevationInStatus":false,"outputfreq":"output.statechange","x":130,"y":2700,"wires":[["cce2d3db.51288"]]},{"id":"dc2c1ec7283102a3","type":"comment","z":"2c1f6c62ff8f547c","name":"https://www.youtube.com/watch?v=QxluSm4a06A","info":"# ","x":260,"y":2620,"wires":[]},{"id":"89ed4da047070154","type":"influxdb in","z":"2c1f6c62ff8f547c","d":true,"influxdb":"b84c6152907be293","name":"","query":"","rawOutput":false,"precision":"","retentionPolicy":"","org":"organisation","x":490,"y":1780,"wires":[["72de5e873960cb85"]]},{"id":"72de5e873960cb85","type":"debug","z":"2c1f6c62ff8f547c","d":true,"name":"InfluxDB---------------","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":610,"y":1840,"wires":[]},{"id":"698d93a10446d823","type":"function","z":"2c1f6c62ff8f547c","d":true,"name":"Save to DB","func":"\n\n\n\n\n\n\n\nconst ha = global.get('homeassistant').homeAssistant.states;\nconst NO_T = Number(ha[\"sensor.netatmo_netatmo_netatmo_outdoor_temperature\"].state);\nconst NO_H = Number(ha[\"sensor.netatmo_netatmo_netatmo_outdoor_humidity\"].state);\nconst NO_P = 0.0;\nconst date = Math.round(new Date().getTime() / 1000);\n\n\n\nconst sensorIds = [[\"sensor.netatmo_co2\", 100],\n[\"sensor.netatmo_humidity\", 1],\n[\"sensor.netatmo_noise\", 1],\n[\"sensor.netatmo_pressure\", 100],\n[\"sensor.netatmo_temperature\", 1]\n];\n\nconst NID = {};\nsensorIds.forEach(([sensorId, factor]) => {\n    NID[sensorId] = Number(ha[sensorId].state) / factor;\n});\n\nconst NIU = {};\nconst niuSensorIds = [[\"sensor.netatmo_netatmo_netatmo_tv_room_co2\", 100],\n[\"sensor.netatmo_netatmo_netatmo_tv_room_temperature\", 1],\n[\"sensor.netatmo_netatmo_netatmo_tv_room_humidity\", 1]\n];\nniuSensorIds.forEach(([sensorId, factor]) => {\n    NIU[sensorId] = Number(ha[sensorId].state) / factor;\n});\n\nNIU[\"sensor.netatmo_netatmo_netatmo_tv_room_pressure\"] = 0.0;\n\n\n\n\n\nconst sensors = [\n    [\"ea02\", \"temperature_and_humidity_sensor_ea02_temperature_sensor_ea02\"],\n    [\"5406\", \"temperature_and_humidity_sensor_5406_temperature_sensor_5406\"],\n    [\"eabd\", \"temperature_and_humidity_sensor_eabd_temperature_sensor_eabd\"],\n    [\"d497\", \"temperature_and_humidity_sensor_d497_temperature_sensor_d497\"],\n    [\"9721\", \"temperature_and_humidity_sensor_9721_temperature_sensor_9721\"],\n    [\"3\", \"3_temperature\"],\n];\n\nconst values = {};\n\nsensors.forEach(([id, prefix]) => {\n    values[`AT${id}_T`] = Number(ha[`sensor.${prefix}`]?.state);\n    values[`AT${id}_H`] = Number(ha[`sensor.${prefix}`]?.state);\n});\n\nconst mill3_T = Number(ha[\"sensor.3_temperature\"].state);\nconst mill3_P = 0.0;\n\n\n\n\nconst sensors = [\n    { prefix: 'sensor.3', tvoc: 10, eco2: 100, humidity: 1 },\n    { prefix: 'sensor.2', tvoc: 10, eco2: 100, humidity: 1 },\n    { prefix: 'sensor.mill_mohsen', tvoc: 10, eco2: 100, humidity: 1 }\n];\n\nlet readings = {};\n\nsensors.forEach(sensor => {\n    readings[sensor.prefix] = {\n        tvoc: Number(ha[`${sensor.prefix}_tvoc`].state) / sensor.tvoc,\n        eco2: Number(ha[`${sensor.prefix}_estimated_co2`].state) / sensor.eco2,\n        humidity: Number(ha[`${sensor.prefix}_humidity`].state) / sensor.humidity\n    };\n\n    if (sensor.prefix === 'sensor.3') {\n        readings[sensor.prefix].temperature = Number(ha[`${sensor.prefix}_temperature`].state);\n    } else {\n        readings[sensor.prefix].temperature = Number(ha[`${sensor.prefix}_temperature`].state);\n        readings[sensor.prefix].pressure = 0.0;\n    }\n});\n\n\n\n\nvar Vec = parseFloat(ha[\"sensor.estimated_consumption_current_hour_veitvetveien_305\"].state);\nvar Vac = parseFloat(ha[\"sensor.accumulated_consumption_veitvetveien_305\"].state);\nvar Vach = parseFloat(ha[\"sensor.accumulated_consumption_current_hour_veitvetveien_305\"].state);\nvar Vav = parseFloat(ha[\"sensor.average_power_veitvetveien_305\"].state) / 1000;\nvar Vmax = parseFloat(ha[\"sensor.max_power_veitvetveien_305\"].state) / 1000;\nvar Vmin = parseFloat(ha[\"sensor.min_power_veitvetveien_305\"].state) / 1000;\nvar Vp = parseFloat(ha[\"sensor.power_veitvetveien_305\"].state) / 1000;\nvar VL1 = parseFloat(ha[\"sensor.current_l1_veitvetveien_305\"].state);\nvar Plki3_day = parseFloat(ha[\"sensor.plki3_day_consumption_2\"].state);\nvar Plki3_year = parseFloat(ha[\"sensor.plki3_year_consumption_2\"].state);\nvar Pltv2_day = parseFloat(ha[\"sensor.pltv2_day_consumption\"].state);\nvar Pltv2_year = parseFloat(ha[\"sensor.pltv2_year_consumption\"].state);\n\nvar CO2_previous = context.get(\"CO2_previous\");\nif (CO2_previous != NID_CO2) {\n    CO2_previous = NID_CO2;\n    msg = {\n        date, NO_T, NO_H, NO_P, NID_CO2, NID_H, NID_N, NID_P, NID_T, NIU_CO2, NIU_T, NIU_H, NIU_P, ATV_T, ATV_H, AKA_T, AKA_H, AZ_T, AZ_H, AKI_T, AKI_H, AM_T, AM_H, mill3_T, mill3_P, mill3_TVOC, mill3_ECO2, mill3_H, mill2_T, mill2_P, mill2_TVOC, mill2_ECO2, mill2_H, mill1_T, mill1_P, mill1_TVOC, mill1_ECO2, mill1_H, A_A1E5, Vec, Vac, Vach, Vav, Vmax, Vmin, Vp, VL1, Plki3_T, Plki3_day, Plki3_year, Pltv2_T, Pltv2_day, Pltv2_year\n    };\n    context.set(\"CO2_previous\", NID_CO2);\n    return msg;\n}\nelse {\n    return null;\n}","outputs":1,"noerr":42,"initialize":"","finalize":"","libs":[],"x":410,"y":1700,"wires":[[]]},{"id":"6e117ba5.8026e4","type":"mqtt-broker","name":"MQTT","broker":"84.210.96.191","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"e3a4058c.3ac098","type":"mqtt-broker","name":"","broker":"84.210.96.191","port":"1883","clientid":"","autoConnect":true,"usetls":false,"compatmode":false,"protocolVersion":"4","keepalive":"15","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"a31e2b8b.720da8","type":"ui_group","name":"Netatmo","tab":"474bf010.9cb1","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"4552fe72.fdfa5","type":"ui_group","name":"Filter","tab":"67c6d9b1.16bfd8","order":3,"disp":true,"width":"27","collapse":false,"className":""},{"id":"c0c400e5.eb2b7","type":"netatmo-config-node","client_id":"608517e63959611b8e2faf47","client_secret":"z5LXaEepKzMkeRJ3EdHcLAMIWwr1hQne4lf","username":"mohsen_hosamo@yahoo.com","password":"Veitvet1972!\"!"},{"id":"120913cb.af28bc","type":"mios-server","name":"vera","host":"84.210.96.191","port":"3480"},{"id":"2236dfd1.c909e","type":"MySQLdatabase","name":"","host":"192.168.2.75","port":"3307","db":"homeassistant","tz":"","charset":""},{"id":"985f2d51.e8e58","type":"server","name":"Home Assistant","version":5,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":30,"areaSelector":"friendlyName","deviceSelector":"friendlyName","entitySelector":"friendlyName","statusSeparator":"at: ","statusYear":"hidden","statusMonth":"short","statusDay":"numeric","statusHourCycle":"h23","statusTimeFormat":"h:m","enableGlobalContextStore":true},{"id":"212b7f06.b4731","type":"ui_group","name":"Tables","tab":"e7f7ff66.2de07","order":2,"disp":true,"width":"5","collapse":false,"className":""},{"id":"27c3d951.18a4e6","type":"ui_group","name":"MiFlora","tab":"156af96f.f8fd27","order":2,"disp":true,"width":"27","collapse":false,"className":""},{"id":"304730.1de8e8d","type":"ui_group","name":"Chart","tab":"ebf9c239.14c15","order":3,"disp":true,"width":"15","collapse":false,"className":""},{"id":"1e776005.3ee9b","type":"server","name":"Home Assistant"},{"id":"bc023b9.e858cc8","type":"light-scheduler-settings","name":"my settings","latitude":"27.890814","longitude":"-82.50234640000001"},{"id":"b84c6152907be293","type":"influxdb","hostname":"192.168.2.180","port":"8086","protocol":"http","database":"database","name":"InfluxDB","usetls":false,"tls":"d05a2116.ca1dd","influxdbVersion":"1.8-flux","url":"http://192.168.2.180:8086","rejectUnauthorized":true},{"id":"474bf010.9cb1","type":"ui_tab","name":"Netatmo","icon":"dashboard","order":6,"disabled":false,"hidden":false},{"id":"67c6d9b1.16bfd8","type":"ui_tab","name":"Homeassitant","icon":"dashboard","disabled":false,"hidden":false},{"id":"e7f7ff66.2de07","type":"ui_tab","name":"Tables","icon":"dashboard","disabled":false,"hidden":false},{"id":"156af96f.f8fd27","type":"ui_tab","name":"Home","icon":"home","order":"1"},{"id":"ebf9c239.14c15","type":"ui_tab","name":"Mill","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"d05a2116.ca1dd","type":"tls-config","name":"local-tls","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","verifyservercert":false}]
