co2.json
[
  {
    "id": "2c1f6c62ff8f547c",
    "type": "tab",
    "label": "mohsen-motor-last",
    "disabled": false,
    "info": ""
  },
  {
    "id": "1d60c4c3c12b71d5",
    "type": "group",
    "z": "2c1f6c62ff8f547c",
    "name": "Sonoff 4CHPRO R3",
    "style": {
      "stroke": "#ffC000",
      "fill": "#addb7b",
      "label": false
    },
    "nodes": [
      "710860bb76917a20",
      "475c1649dad58148",
      "02e1874144f5dfb5",
      "9dae359757571e0f",
      "c61dd155aed2380e",
      "8728372daa3400fd",
      "6604c92681c969c2",
      "e9ac2466b604d39f",
      "21a43d2f2dd3ef09",
      "b401a04286f04e34"
    ],
    "x": 1104,
    "y": 1019,
    "w": 262,
    "h": 542
  },
  {
    "id": "f55322585025d1de",
    "type": "comment",
    "z": "2c1f6c62ff8f547c",
    "name": "Query power",
    "info": "",
    "x": 90,
    "y": 160,
    "wires": []
  },
  {
    "id": "88282eb62e06b320",
    "type": "debug",
    "z": "2c1f6c62ff8f547c",
    "name": "Get mem1 Value from Tasmota",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 510,
    "y": 100,
    "wires": []
  },
  {
    "id": "7d1f58fb1a96b9e8",
    "type": "function",
    "z": "2c1f6c62ff8f547c",
    "name": "",
    "func": "var msg1 = {};\nvar msg2 = {};\nvar msg3 = {};\nvar msg4 = {};\nvar msg5 = {};\nvar msg6 = {};\nvar msg7 = {};\nvar msg8 = {};\nvar msg9 = {};\nvar msg10 = {};\nvar msg11 = {};\nvar msg12 = {};\nvar msg13 = {};\nvar msg13_1 = {};\n\nvar GlobalTemp = {};\nvar Temp = {};\n\nmsg1.payload = msg.payload.compact.outdoor.temperature;\nmsg2.payload = msg.payload.compact.outdoor.humidity;\nmsg3.payload = msg.payload.compact.pressure;\nmsg4.payload = msg.payload.compact.noise;\n\nmsg5.payload = msg.payload.compact.temperature;\nmsg6.payload = msg.payload.compact.co2;\nmsg7.payload = msg.payload.compact.humidity;\nmsg8.payload = msg.payload.compact.noise;\nmsg9.payload = msg.payload.compact.pressure;\n\nmsg10.payload = msg.payload.compact.modules[0].CO2;\nmsg11.payload = msg.payload.compact.modules[0].temperature;\nmsg12.payload = msg.payload.compact.modules[0].pressure;\nmsg13.payload = msg.payload.compact.modules[0].humidity;\nmsg13_1.payload = msg.payload.detailed[0].dashboard_data.AbsolutePressure;\n\nGlobalTemp.a1 = msg.payload.compact.outdoor.temperature;\nGlobalTemp.a2 = msg.payload.compact.outdoor.humidity;\nGlobalTemp.a3 = msg.payload.compact.outdoor.pressure;\nGlobalTemp.a4 = msg.payload.compact.outdoor.noise;\n\nGlobalTemp.b1 = msg.payload.compact.co2;\nGlobalTemp.b2 = msg.payload.compact.temperature;\nGlobalTemp.b3 = msg.payload.compact.humidity;\nGlobalTemp.b4 = msg.payload.compact.noise;\nGlobalTemp.b5 = msg.payload.compact.pressure;\n\nGlobalTemp.z1 = msg.payload.compact.modules[0].CO2;\nGlobalTemp.z2 = msg.payload.compact.modules[0].temperature;\nGlobalTemp.z3 = msg.payload.compact.modules[0].Pressue;\nGlobalTemp.z4 = msg.payload.compact.modules[0].Humidity;\nGlobalTemp.z5 = msg.payload.detailed[0].dashboard_data.AbsolutePressure;\n\nglobal.set(\"Temp\", GlobalTemp);\nreturn [msg1, msg2, msg3, msg4, msg5, msg6, msg7, msg8, msg9, msg10, msg11, msg12, msg13, msg13_1, Temp];",
    "outputs": 14,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 640,
    "y": 340,
    "wires": [
      ["fbceb81f1dd42b7c", "d3b09e0b6994fbe1", "b217319e3a72039c"],
      ["6012db7e22e7f65b"],
      ["d6f7efdeeefb2b84"],
      ["4a814e10e3572511"],
      ["83adf08c9cb1f2b5"],
      ["fa400247ce563b44", "b217319e3a72039c", "d4c45f4281d5cbbf"],
      ["7be7a38e1c996d52"],
      ["766dff63943b0a1b"],
      ["7da8226320617be9"],
      ["21e860c5e654a52f"],
      ["17967bbaab032729"],
      ["e638f7d96c6d1e56"],
      ["bc831ac3c11a596b"],
      []
    ]
  }
]
